@forward 'global';
@use "util" as u;
body{
    box-sizing: border-box;
    display: grid;
    min-height: 100vh;
    font-family: u.$font2;
    font-weight: 400;
}
h1,h2,h3{
    font-family: u.$font;
}
h3{
    font-weight: 400;
}
h2{
    font-weight: 700;
}
.email {
    margin-top: 2rem;
    color: u.$lg;
    padding-left: 0.5rem;
    width: 100%;
    height: 2rem;
    border: 1.5px solid u.$dsb;
    border-radius: 0.3rem;
    margin-bottom: 0.3rem;
}
button {
    width: 100%;
    height: 2rem;
    background-color: u.$bb;
    border-radius: 0.3rem;
    border: none;
    color: u.$lgb;
}
button:hover{
    background-color: u.$bba;
    color: u.$db;
    font-size: 0.8rem;
}
header{
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    ul {
            display: flex;
            align-items: center;
            li {
                    margin-left: 0.8rem;
                    color: u.$dsb;
                    transition: all 100ms ease-in;
                }
            li:hover{
                color: u.$db;
                font-size: 1rem;
                background-image: linear-gradient(u.$lg, u.$lgb);
                border-radius: 1.2rem;
                cursor: pointer;
            }
        }
    .logo {
            width: 5rem;
            cursor: col-resize;
        }
}
main{
    
    h1{
        color: u.$db;
        margin-top: 2rem;
        line-height: 1.6rem;
        margin-bottom: 1.5rem;
        text-align: center;
        font-weight: 700;
    }
    p {
        color: u.$dsb;
        line-height: 1.2rem;
    }
    .first{
        padding: 1rem;
        p{
            text-align: center;
        }
        .ill1 {
                width: 100%;
                margin-top: 15%;
            }
            .ill1:hover{
                cursor: pointer;
                background-color: black;
            }
            .email{
                margin-bottom: 1rem;
            }
            
            margin-bottom: 4rem;
    }
    .second{
        padding: 1rem;
        h2{
            text-align: center;
            margin-top: 4rem;
            margin-bottom: 2rem;
        }
        .ill2 {
                width: 100%;
                position: relative;
            }
        .ill2:hover {
                cursor: pointer;
                background-color: black;
                        }
            .arr{
                text-align: center;
                margin: 1.5rem;
                margin-bottom: 2.5rem;
                color: u.$mc;
                font-size: 0.7rem;
                .lo{
                    position: relative;
                    cursor: pointer;
                    transition: all 500ms ease-out;
                }
                .lo:hover.lo::after{
                        width: 10%;
                        align-items: center;
                        opacity: 0.55;
                }
                .lo:hover{
                    opacity: 0.65;
                    font-size: 1rem;
                }
                .lo::after {
                    content: "";
                    width: 100%;
                    left: 0;
                    bottom: -0.4rem;
                    height: 0.1rem;
                    background-color: u.$mc;
                    position: absolute;
                    transition: all 1s ease-out;
                }
                .lo:active{
                    opacity: 1;
                    
                }
            }
        /*  .line{
            margin-left: 27%;
            width: 43%;
            height: 2px;
            background-color: green;
        }
        */
        .testimony:hover{
            background-image: linear-gradient( u.$bb, u.$mc);
            p{
                color: black;
            }
            box-shadow: 1px 2px 1px 2px u.$dsb;
        }
        .testimony{
            
            margin: 1.2rem;
            margin-bottom: 5rem;
            p{
                font-size: 0.8rem;
            }
            background-color: white;
            padding: 0.8rem;
            box-shadow:1px 2px 1px 2px u.$sh;
            .profile{
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                margin-right: 1rem;
            }
            .dp{
                display: flex;
                margin-top: 1rem;
                h3{
                    font-size: 0.8rem;
                    font-weight: 600;
                }
                p{
                    font-size: 0.6rem;
                    font-weight: 600;
                }
            }
        }
        
    }
    .third{
        background-color: u.$dsb;
        padding: 2.5rem;
        p,h2{
            color: u.$lgb;
            line-height: 1.2rem;
            text-align: center;
        }
        P{
            font-size: 0.8rem;
        }
        h2{
        margin-bottom: 1.2rem;
        }
    }
}
footer{
    padding: 2rem;
    padding-top: 3rem;
    background-color: u.$db;
    color:u.$lgb;
    .con{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .contact{
        display: flex;
        margin-bottom: 1rem;
    }
    .contact>*{
        margin-right: 1rem;
    }
    ul{
        margin-bottom: 2.5rem;
        li{
            font-size: 0.8rem;
            margin-bottom: 0.8rem;
        }
        li:hover{
            text-decoration: underline;
        }
    }
    .brands{
        margin-left: 40%;
        .fa-brands{
            font-size: 1.2rem;
            transition: all 100ms ease-in;
        }
        .fa-square-instagram{
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .fa-brands:hover{
            font-size: 1.5rem;
            cursor: pointer;
            background-color: u.$mc;
        }
    }
}
@media screen and (min-width:400px){
    body{
        padding: 2rem;
    }
    main{
        .first{
            .ill1{
                width: 60%;
                margin-left: 15%;
            }
        }
        .second{
            .ill2{
                width: 60%;
                margin-left: 15%;
            }
        }
    }
}
@media screen and(min-width:800px){
    body{
        padding: 0;
    }
    header{
        padding: 2rem;
        font-size: 1rem;
        .logo{
            width: 8rem;
        }
        ul{
            li{
                margin-left: 1.5rem;
            }
            li:hover {
                    font-size: 1.3rem;
                }
        }
        
    }
    main{
        h1{
            font-size: 2rem;
        }
        .first{
            padding-left: 1rem;
            margin-bottom: 0;
            .email{
                width: 50%;
            }
            button{
                width: 30%;
            }
            margin-top: 2rem;
            display: flex;
            flex-direction: row-reverse;
            div{
                width: 50%;
            }
            .ill1{
                width: 24rem;
                margin-top: 0;
            }
            .ill1:hover {
                background-color: transparent;
                cursor: default;
                }
        }
                .second::after {
                    content: "";
                    width: 100%;
                    height: 3rem;
                    z-index: 1;
                    background-image: url("/images/bg-curve-mobile.svg");
                    position: absolute;
                    top: 0;
                }
        .second{
padding: 0;
            position: relative;
            .seco{
                margin-top: 2rem;
                background-color: u.$lgb;
                display: flex;
                flex-direction: row-reverse;
                    padding-left: 1.5rem;
                    h2 {
                        font-size: 1.8rem;
                    }
                    div {
                        width: 50%;
                    }
                    .ill2 {
                        width: 24rem;
                        margin-top: 0;
                        padding-top: 0;
                    }
                    .ill2:hover {
                        background-color: transparent;
                        cursor: default;
                    }
                    .arr {
                        text-align: left;
                        margin-left: 0;
                        .lo:hover {
                            font-size: 1rem;
                        }
                    }
                    .testimony {
                        width: 80%;
                        margin-left: 0;
                    }
            }
        }
        .third{
            display: flex;
            padding: 2rem;
            div {
                p,h2{
                    text-align: left;
                    padding-right: 3rem;
                }
                margin-right: 1.5rem;
                h2{
                    font-size: 1.8rem;
                    line-height: 2rem;
                }
                    width: 50%;
                    .email{
                        width: 80%;
                    }
                    button{
                        width: 40%;
                    }
                }
        }
    }
    footer{
        .brands{
            .fa-brands:hover{
                font-size: 2rem;
            }
        }
        display: flex;
        .fa-square-instagram{
            margin-right: 1rem;
            margin-left: 1rem;
        }
        ul{
            margin-top: 6rem;
        }
        .brands{
            margin-top: 6rem;
            margin-left: 1rem;
            margin-right: 0;
        }
    }
    footer>* {
        margin-right: 5rem;
    }
}